* {
    box-sizing:border-box
}

.main-wrapper {
    width: 70%;
    margin: 0 auto;
}

#container-slider {
    position: relative;
    display: table;
    width: 100%;
    overflow: hidden;
    transition: 2s;
    transition-timing-function: ease-in-out;
}

#wrapper-slides {
    position: relative;
    overflow: hidden;
    width: calc(100% * 3);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.slides {
    width: calc(100%/3);
}

.img-slide {
    width: 100%;
}

#wrapper-slides .slides {
    float: left;
}

.btn-prev, .btn-next {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 40%;
    color: white;
    font-size: 40px;
    padding: 17px;
    cursor: pointer;
    opacity: 0.5;
}

.btn-prev:hover, .btn-next:hover {
    opacity: 0.9;
}

.btn-next {
    right: 0;
}

.container-circle-btn {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
}

.circle {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    outline: none;
    background-color: #cdcdcd;
    border: none;
    cursor: pointer;
    width: 15px;
    height:15px;
    text-align: center;
    margin: 0 2px;
}

.circle:active {
    background-color: #5380d2;
}
