* {
    box-sizing:border-box
}

#container-slider {
    max-width: 900px;
    position: relative;
    margin: auto;
    user-select: none;
    padding: 10px;
}

#wrapper-slides {
    position: relative;
    overflow: hidden;
}

.slides {
    width: 100%;
}

.btn-prev, .btn-next {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 40%;
    color: white;
    font-size: 40px;
    padding: 17px;
    cursor: pointer;
    opacity: 0.5;
}

.btn-prev:hover, .btn-next:hover {
    opacity: 0.9;
}

.btn-next {
    right: 0;
}

.container-circle-btn {
    position: absolute;
    text-align: center;
    bottom: 4%;
    left: 50%;
}

.circle {
    border-radius: 50%;
    outline: none;
    background-color: #cdcdcd;
    border: none;
    cursor: pointer;
    width: 15px;
    height:15px;
    text-align: center;
    margin: 0 2px;
}

.circle:active {
    background-color: #5380d2;
}
